<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EnterSite</servlet-name>
        <servlet-class>controller.EnterSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCart</servlet-name>
        <servlet-class>controller.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>controller.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>w</servlet-name>
        <servlet-class>controller.w</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToShoppingCart</servlet-name>
        <servlet-class>controller.AddToShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCart</servlet-name>
        <servlet-class>controller.RemoveCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>controller.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoHome</servlet-name>
        <servlet-class>controller.GoHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showproductcatalog</servlet-name>
        <servlet-class>controller.Showproductcatalog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterSite</servlet-name>
        <url-pattern>/EnterSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCart</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>w</servlet-name>
        <url-pattern>/w</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToShoppingCart</servlet-name>
        <url-pattern>/AddToShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCart</servlet-name>
        <url-pattern>/RemoveCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoHome</servlet-name>
        <url-pattern>/GoHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showproductcatalog</servlet-name>
        <url-pattern>/showproductcatalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
